### Import required Libraries

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

import pandas as pd

### Loading dataset

In [8]:
df = pd.read_csv("audi.csv")
display(df.head(10))
print(df.shape)

  model  year  price transmission  mileage fuelType   mpg  engineSize
0    A1  2017  12500       Manual    15735   Petrol  55.4         1.4
1    A6  2016  16500    Automatic    36203   Diesel  64.2         2.0
2    A1  2016  11000       Manual    29946   Petrol  55.4         1.4
3    A4  2017  16800    Automatic    25952   Diesel  67.3         2.0
4    A3  2019  17300       Manual     1998   Petrol  49.6         1.0
5    A1  2016  13900    Automatic    32260   Petrol  58.9         1.4
6    A6  2016  13250    Automatic    76788   Diesel  61.4         2.0
7    A4  2016  11750       Manual    75185   Diesel  70.6         2.0
8    A3  2015  10200       Manual    46112   Petrol  60.1         1.4
9    A1  2016  12000       Manual    22451   Petrol  55.4         1.4

(10668, 8)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10668 entries, 0 to 10667
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         10668 non-null  object
 1   year          10668 non-null  int64
 2   price         10668 non-null  int64
 3   transmission  10668 non-null  object
 4   mileage       10668 non-null  int64
 5   fuelType      10668 non-null  object
 6   mpg           10668 non-null  float64
 7   engineSize    10668 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 666.9+ KB

In [10]:
print(df.columns)

Index(['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'mpg',
       'engineSize'],
      dtype='object')

#### Separating the features and target variable

In [11]:
features = ['year', 'mileage', 'mpg', 'engineSize']
target = ['price']

X = df[features]
y = df[target]

print(X.shape, y.shape)

(10668, 4) (10668, 1)

#### Creating train and test dataset

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(8534, 4) (2134, 4) (8534, 1) (2134, 1)

#### Linear Regression

In [13]:
model = LinearRegression()
model = model.fit(X_train, y_train)

#### Prediction

In [14]:
y_pred = model.predict(X_test)

In [15]:
print(y_pred)

[[ 8404.61685932]
 [25242.08315391]
 [29769.42539605]
 ...
 [15223.19196191]
 [25409.82306727]
 [12240.88891797]]

In [16]:
print(y_test)

       price
10442   9990
2907   22382
7388   28990
3016   30777
7890   14950
...      ...
8606   31450
8977   12900
3673   16750
1034   21996
6867    9547

[2134 rows x 1 columns]

#### Prediction Error

In [17]:
RMSE = mean_squared_error(y_test, y_pred, squared=False)
print(RMSE)

5719.124258888169